.search {
  color: white;
  background: url(../../assets/searchIcon.svg) no-repeat 6px, #8c6542;
  padding-left: 20px;
  outline: none;
  border: 0;
  box-shadow: inset 0px 2px 1px rgba(0, 0, 0, 0.25);
  width: 150px;
}

.festlist {
  height: 57vh;
  overflow: scroll;
}

.festlist::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.icons {
  position: relative;
  top: 2px;
}

.card-date {
  color: #f2c94c;
  font-size: 10px;
  line-height: 18px;
}

.card-location-list {
  color: #f2c94c;
  font-size: 11.5px;
  padding-left: 101px;
}

.card-location-timeline {
  color: #f2c94c;
  font-size: 11.5px;
  padding-left: 83px;
}
