* {
   margin: 0px;
   padding: 0px;
}

body {
  background-color: #A67E4E;
  padding: .5rem;
}

hr {
  border: .5px solid #FFF2CB;
  opacity: .5;
}

.container-main {
  height: 65vh;
}

.section-banner {
  height: 28vh;
}

.section-festList, .section-timeline {
  width: 34%;
  height: 65vh;
}

.section-festList {
  background: url(assets/boundaryColumn.svg) right no-repeat;
}

.section-timeline {
  background: url(assets/boundaryColumn.svg) left no-repeat;
}

.section-schedule {
  width: 32%;
  padding-left: 25px;
  padding-right: 25px;
}

.cream {
  color: #FFF2CB;
}

.card-date {
  color: #F2C94C;
  font-size: 10px;
  line-height: 18px;
}

.card-location {
  color: #F2C94C;
  font-size: 11.5px;
}