* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #a67e4e;
  padding: 0.5rem;
}

hr {
  border: 0.5px solid #fff2cb;
  opacity: 0.5;
}

.container-main {
  height: 65vh;
}

.section-banner {
  height: 28vh;
}

.section-festList,
.section-timeline {
  width: 34%;
  height: 65vh;
}

.section-festList {
  background: url(assets/boundaryColumn.svg) right no-repeat;
  padding-right: 30px;
}

.section-timeline {
  background: url(assets/boundaryColumn.svg) left no-repeat;
}

.subsection-timeline {
  background: url(assets/line.svg) 68px no-repeat;
  height: 55vh;
}

.section-schedule {
  width: 32%;
  padding-left: 25px;
  padding-right: 25px;
}

.cream {
  color: #fff2cb;
}

.card-date {
  color: #f2c94c;
  font-size: 10px;
  line-height: 18px;
}

.card-location {
  color: #f2c94c;
  font-size: 11.5px;
}
